.home-party-list {
  padding-top: 20px;
}
.home-party-logo {
  max-width: 14%;
  float: left;
  position: relative;
}
.home-photo {
  border-radius: 4px;
}
.jumbotron {
  background: #a8d0d2 url('/assets/jumbotron_bg.jpg') 50% 0 no-repeat;
  background-size: auto 100%;
  padding: 45px 0;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
}
.jumbotron .container {
  max-width: 600px;
}
.jumbotron img {
  margin: 40px 0;
  max-width: 80%;
}
.jumbotron p {
  color: #1d5154;
  text-shadow: 0 0 3px rgba(0, 158, 163, 0.5);
}
.jumbotron p a {
  color: #000;
}
section.issues {
  margin-bottom: 10px;
}
section.issues article {
  word-break: break-word;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0 0 0 5px #ffffff;
}
section.issues article:hover {
  background-color: #e2f3f3;
  box-shadow: 0 0 0 5px #e1f4f4;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
section.issues article:hover a {
  text-decoration: none;
}
section.issues article figure {
  margin: 0;
  display: block;
  height: 100px;
  background-size: cover;
}
section.issues article a {
  color: #333;
}
section.issues article h4 {
  text-transform: uppercase;
}
section.issues article .read-more {
  color: $color-link;
}
section.issues article .read-more:hover {
  text-decoration: underline;
  color: $color-link-focus;
}
.person {
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 20px 0 100px;
  margin: 20px 0;
  display: inline-block;
  vertical-align: top;
  width: 310px;
}
.person .photo {
  border-radius: 50%;
  background: #ffffff 50% 0% no-repeat;
  background-size: cover;
  width: 90px;
  height: auto;
  position: absolute;
  top: 0;
  left: -10px;
}
.person .name {
  font-size: 1.4em;
  line-height: 1.75em;
  font-weight: 300;
}
.person .bio {
  font-size: 0.9em;
  line-height: 1.75em;
}
.bidragsyter {
  display: inline-block;
  vertical-align: top;
  width: 310px;
  margin: 0 0 20px 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 20px;
}