
@import "../variables/dimension.large";

.case-visualization {
  $height: $dimension-container-width / 3 * 1em - 6em;
  .canvas {
    height: $height;
    position: relative;
    width: 100%;
    img {
      margin-top: -1em;
      position: absolute;
      width: 20%;
    }
  }
}