
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "compass/utilities/general/clearfix";
@import "../variables/color";

.case-party {
  .closed {
    section {
      display: none;
      &.open {
        display: block;
      }
    }
    .basis {
      display: none;
    }
  }
  .images img {
    width: 32%;
  }
  > header + ul {
    display: none;
  }
}
.case-visualization {
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
  .canvas img {
    width: (100 / 7) * 1%;
  }
}