                     /*
@font-face {
  font-family: 'NeoSansStandard';
  src: url('/assets/NeoSansStd-Regular.eot');
  src: url('/assets/NeoSansStd-Regular.eot?#iefix') format('embedded-opentype');
  src: url('/assets/NeoSansStd-Regular.otf') format('opentype');
  src: url('/assets/NeoSansStd-Regular.woff') format('woff');
  src: url('/assets/NeoSansStd-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;/* IE9 Compat Modes */
/* IE6-IE8 */
/* Modern Browsers */
/* Safari, Android, iOS */
/*
}
*/
