/* line 1, ../../sass/base/representatives.scss */
.representative-image {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* line 4, ../../sass/base/representatives.scss */
.representative-carousel-view {
  max-width: 150px;
  margin-right: 10px;
}

/* line 8, ../../sass/base/representatives.scss */
.representative-view {
  max-width: 25%;
  float: left;
  position: relative;
  color: #ddd;
  background-color: #000;
}

/* line 15, ../../sass/base/representatives.scss */
.representative-view:hover {
  color: #ddd;
}

/* line 18, ../../sass/base/representatives.scss */
.representative-view:hover img {
  opacity: 0.95;
}

/* line 21, ../../sass/base/representatives.scss */
.representative-view .representative-name-label {
  text-align: center;
  font-size: 0.8em;
}
