/* line 2, ../sass/fixes.scss */
footer {
  height: 3em;
  margin-top: 2em;
}

/* line 6, ../sass/fixes.scss */
.wrapper {
  margin-bottom: -7em;
}
/* line 8, ../sass/fixes.scss */
.wrapper .push {
  height: 7em;
}
