/* line 5, ../sass/unique/case.large.not.scss */
.case-party {
  overflow: hidden;
  *zoom: 1;
}
/* line 8, ../sass/unique/case.large.not.scss */
.case-party .content,
.case-party .images {
  float: left;
  width: 12.5%;
}
/* line 12, ../sass/unique/case.large.not.scss */
.case-party .content {
  width: 87.5%;
}

/* line 17, ../sass/unique/case.large.not.scss */
.case-visualization > div {
  overflow: hidden;
  *zoom: 1;
}
/* line 20, ../sass/unique/case.large.not.scss */
.case-visualization .axis {
  float: left;
  width: 12.5%;
}
/* line 24, ../sass/unique/case.large.not.scss */
.case-visualization .canvas {
  float: right;
  width: 87.5%;
}
/* line 28, ../sass/unique/case.large.not.scss */
.case-visualization .canvas {
  overflow: hidden;
  *zoom: 1;
}
/* line 30, ../sass/unique/case.large.not.scss */
.case-visualization .canvas .party {
  float: left;
  width: 14.28571%;
}
/* line 33, ../sass/unique/case.large.not.scss */
.case-visualization .canvas .party img {
  width: 100%;
}
/* line 38, ../sass/unique/case.large.not.scss */
.case-visualization .text {
  display: none;
}
/* line 41, ../sass/unique/case.large.not.scss */
.case-visualization.row-fluid > [class*="offset"] {
  margin-left: 0;
}
