
$dimension-container-width: 45;
$dimension-grid-columns: 6;
$dimension-grid-margin-abs: 0.5;
$dimension-grid-margin: $dimension-grid-margin-abs / $dimension-container-width * 100%;
$dimension-grid-width: ($dimension-container-width - $dimension-grid-margin-abs) / $dimension-grid-columns / $dimension-container-width * 100%;