/* line 5, ../../sass/unique/case.large.scss */
.case-party .images img {
  width: auto;
}

/* line 11, ../../sass/unique/case.large.scss */
.case-visualization .canvas {
  height: 16.33333em;
  position: relative;
  width: 100%;
}
/* line 15, ../../sass/unique/case.large.scss */
.case-visualization .canvas img {
  margin-top: -1em;
  position: absolute;
  width: 20%;
}
