
@import "compass/utilities/general/clearfix";

$num-parties: 7;
.case-party {
  @include clearfix;
  .content,
  .images {
    float: left;
    width: 100% / ($num-parties + 1);
  }
  .content {
    width: 100% / ($num-parties + 1) * $num-parties;
  }
}
.case-visualization {
  > div {
    @include clearfix;
  }
  .axis {
    float: left;
    width: 100% / ($num-parties + 1);
  }
  .canvas {
    float: right;
    width: 100% / ($num-parties + 1) * $num-parties;
  }
  .canvas {
    @include clearfix;
    .party {
      float: left;
      width: 100% / $num-parties;
      img {
        width: 100%;
      }
    }
  }
  .text {
    display: none;
  }
  &.row-fluid > [class*="offset"] {
    margin-left: 0;
  }
}