
$color-background:  #ffffff;
$color-base:        #019ea2;
$color-link:        #019ea2;
$color-link-focus:  #018589;
$color-meta:        #999999;

/* party colors */
/* fetched from http://stavelin.com/blog/2012/06/18/var-partifarger-krangle-kan-vi-gjore-siden/ */
$color-party-ap:    #da383f;
$color-party-alp:   #f6f6f6;
$color-party-b:     #008140;
$color-party-dnf:   #f6f6f6;
$color-party-fff:   #f6f6f6;
$color-party-frp:   #393d87;
$color-party-h:     #0f658d;
$color-party-kp:    #286d6d;
$color-party-krf:   #efae52;
$color-party-rv:    #a61e20;
$color-party-sf:    #f6f6f6;
$color-party-sp:    #008767;
$color-party-sv:    #bb234a;
$color-party-svf:   #f6f6f6;
$color-party-tf:    #f6f6f6;
$color-party-uav:   #f6f6f6;
$color-party-v:     #81b45f;
$color-party-demn:  #003366;
$color-party-pp:    #000000;
$color-party-r:    #7c2629;
