/* line 1, ../../sass/base/promises.scss */
#choose-category {
  font-size: 2em;
  padding-top: 20px;
}

/* line 6, ../../sass/base/promises.scss */
.nav-pills > .a-active > a,
.nav-pills > .a-active > a:hover {
  background-color: #da383f;
  color: white;
  border-radius: 5px;
}

/* line 12, ../../sass/base/promises.scss */
.nav-pills > .frp-active > a,
.nav-pills > .frp-active > a:hover {
  background-color: #393d87;
  color: white;
  border-radius: 5px;
}

/* line 18, ../../sass/base/promises.scss */
.nav-pills > .h-active > a,
.nav-pills > .h-active > a:hover {
  background-color: #0f658d;
  color: white;
  border-radius: 5px;
}

/* line 24, ../../sass/base/promises.scss */
.nav-pills > .krf-active > a,
.nav-pills > .krf-active > a:hover {
  background-color: #efae52;
  color: white;
  border-radius: 5px;
}

/* line 30, ../../sass/base/promises.scss */
.nav-pills > .v-active > a,
.nav-pills > .v-active > a:hover {
  background-color: #81b45f;
  color: white;
  border-radius: 5px;
}

/* line 36, ../../sass/base/promises.scss */
.nav-pills > .sp-active > a,
.nav-pills > .sp-active > a:hover {
  background-color: #008767;
  color: white;
  border-radius: 5px;
}

/* line 42, ../../sass/base/promises.scss */
.nav-pills > .sv-active > a,
.nav-pills > .sv-active > a:hover {
  background-color: #bb234a;
  color: white;
  border-radius: 5px;
}

/* line 48, ../../sass/base/promises.scss */
.nav-pills > .government-active > a,
.nav-pills > .government-active > a:hover {
  background-color: #3f3f3f;
  color: white;
  border-radius: 5px;
}

/* line 54, ../../sass/base/promises.scss */
.nav-pills > .show-all-active > a,
.nav-pills > .show-all-active > a:hover {
  background-color: #009ea6;
  color: white;
  border-radius: 5px;
}

/* line 59, ../../sass/base/promises.scss */
.a-title > a {
  color: #da383f;
}

/* line 62, ../../sass/base/promises.scss */
.frp-title > a {
  color: #393d87;
}

/* line 65, ../../sass/base/promises.scss */
.h-title > a {
  color: #0f658d;
}

/* line 68, ../../sass/base/promises.scss */
.krf-title > a {
  color: #efae52;
}

/* line 71, ../../sass/base/promises.scss */
.v-title > a {
  color: #81b45f;
}

/* line 74, ../../sass/base/promises.scss */
.sp-title > a {
  color: #008767;
}

/* line 77, ../../sass/base/promises.scss */
.sv-title > a {
  color: #bb234a;
}

/* line 80, ../../sass/base/promises.scss */
a.active {
  color: #000000;
}

/* line 83, ../../sass/base/promises.scss */
.promises-results {
  padding-left: 1em;
  padding-right: 1em;
}
