/* line 1, ../../sass/base/issues.scss */
.vote-container {
  padding: 10px;
  margin: 3px;
}

/* line 5, ../../sass/base/issues.scss */
.issues-party {
  padding: 18px 0px;
}

/* line 8, ../../sass/base/issues.scss */
.issues-party-position {
  margin-top: 10px;
  font-size: 1.2em;
  line-height: 1.1em;
}

/* line 13, ../../sass/base/issues.scss */
.issues-party-promises {
  font-size: 0.95em;
  line-height: 1.1em;
}

/* line 17, ../../sass/base/issues.scss */
.issue-navigation {
  font-size: 0.8em;
  padding: 10px 0px;
}

/* line 21, ../../sass/base/issues.scss */
.issue-big-links {
  font-size: 1.5em;
}

/* line 24, ../../sass/base/issues.scss */
.issue-big-links > p {
  padding: 0 8px 8px;
}

/* line 27, ../../sass/base/issues.scss */
.issue-description {
  font-size: 1.2em;
  line-height: 1.2em;
}

/* line 31, ../../sass/base/issues.scss */
.proposition-body {
  display: none;
}
