/* party colors */
/* fetched from http://stavelin.com/blog/2012/06/18/var-partifarger-krangle-kan-vi-gjore-siden/ */
/* line 8, ../../sass/unique/case.scss */
.case-party.ap h2 {
  color: #da383f;
}

/* line 12, ../../sass/unique/case.scss */
.case-visualization {
  margin-bottom: 1em;
}
/* line 14, ../../sass/unique/case.scss */
.case-visualization .axis {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 19, ../../sass/unique/case.scss */
.case-visualization .canvas .ap {
  color: #da383f;
}
/* line 22, ../../sass/unique/case.scss */
.case-visualization .canvas .frp {
  color: #393d87;
}
/* line 25, ../../sass/unique/case.scss */
.case-visualization .canvas .h {
  color: #0f658d;
}
/* line 28, ../../sass/unique/case.scss */
.case-visualization .canvas .krf {
  color: #efae52;
}
/* line 31, ../../sass/unique/case.scss */
.case-visualization .canvas .sp {
  color: #008767;
}
/* line 34, ../../sass/unique/case.scss */
.case-visualization .canvas .sv {
  color: #bb234a;
}
/* line 37, ../../sass/unique/case.scss */
.case-visualization .canvas .v {
  color: #81b45f;
}
/* line 40, ../../sass/unique/case.scss */
.case-visualization .canvas img {
  width: 48px;
}
