/* assets */
/* party colors */
/* fetched from http://stavelin.com/blog/2012/06/18/var-partifarger-krangle-kan-vi-gjore-siden/ */
/* party css-classes */
.party-A {
  background-color: #da383f;
}
.party-ALP {
  background-color: #f6f6f6;
}
.party-B {
  background-color: #008140;
}
.party-DNF {
  background-color: #f6f6f6;
}
.party-FFF {
  background-color: #f6f6f6;
}
.party-FrP {
  background-color: #393d87;
}
.party-H {
  background-color: #0f658d;
}
.party-Kp {
  background-color: #286d6d;
}
.party-KrF {
  background-color: #efae52;
}
.party-RV {
  background-color: #a61e20;
}
.party-SF {
  background-color: #f6f6f6;
}
.party-Sp {
  background-color: #008767;
}
.party-SV {
  background-color: #bb234a;
}
.party-SVf {
  background-color: #f6f6f6;
}
.party-TF {
  background-color: #f6f6f6;
}
.party-Uav {
  background-color: #f6f6f6;
}
.party-V {
  background-color: #81b45f;
}
.party-DEMN {
  background-color: #003366;
}
.party-PP {
  background-color: #000000;
}
.party-R {
  background-color: #7c2629;
}