
$dimension-container-width: 67;
$dimension-grid-columns: 10;
$dimension-grid-margin-abs: 1;
$dimension-grid-margin: $dimension-grid-margin-abs / $dimension-container-width * 100%;
$dimension-grid-width: ($dimension-container-width - $dimension-grid-margin-abs) / $dimension-grid-columns / $dimension-container-width * 100%;