/* line 1, ../../sass/base/prettify.scss */
.pln {
  color: #000;
}

@media screen {
  /* line 1, ../../sass/base/prettify.scss */
  .str {
    color: #080;
  }

  /* line 1, ../../sass/base/prettify.scss */
  .kwd {
    color: #008;
  }

  /* line 1, ../../sass/base/prettify.scss */
  .com {
    color: #800;
  }

  /* line 1, ../../sass/base/prettify.scss */
  .typ {
    color: #606;
  }

  /* line 1, ../../sass/base/prettify.scss */
  .lit {
    color: #066;
  }

  /* line 1, ../../sass/base/prettify.scss */
  .pun, .opn, .clo {
    color: #660;
  }

  /* line 1, ../../sass/base/prettify.scss */
  .tag {
    color: #008;
  }

  /* line 1, ../../sass/base/prettify.scss */
  .atn {
    color: #606;
  }

  /* line 1, ../../sass/base/prettify.scss */
  .atv {
    color: #080;
  }

  /* line 1, ../../sass/base/prettify.scss */
  .dec, .var {
    color: #606;
  }

  /* line 1, ../../sass/base/prettify.scss */
  .fun {
    color: red;
  }
}
@media print, projection {
  /* line 1, ../../sass/base/prettify.scss */
  .str {
    color: #060;
  }

  /* line 1, ../../sass/base/prettify.scss */
  .kwd {
    color: #006;
    font-weight: bold;
  }

  /* line 1, ../../sass/base/prettify.scss */
  .com {
    color: #600;
    font-style: italic;
  }

  /* line 1, ../../sass/base/prettify.scss */
  .typ {
    color: #404;
    font-weight: bold;
  }

  /* line 1, ../../sass/base/prettify.scss */
  .lit {
    color: #044;
  }

  /* line 1, ../../sass/base/prettify.scss */
  .pun, .opn, .clo {
    color: #440;
  }

  /* line 1, ../../sass/base/prettify.scss */
  .tag {
    color: #006;
    font-weight: bold;
  }

  /* line 1, ../../sass/base/prettify.scss */
  .atn {
    color: #404;
  }

  /* line 1, ../../sass/base/prettify.scss */
  .atv {
    color: #060;
  }
}
/* line 1, ../../sass/base/prettify.scss */
pre.prettyprint {
  padding: 2px;
  border: 1px solid #888;
}

/* line 1, ../../sass/base/prettify.scss */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 1, ../../sass/base/prettify.scss */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none;
}

/* line 1, ../../sass/base/prettify.scss */
li.L1, li.L3, li.L5, li.L7, li.L9 {
  background: #eee;
}

/* line 3, ../../sass/base/prettify.scss */
pre.prettyprint {
  padding: 1.2em;
}

/* line 4, ../../sass/base/prettify.scss */
pre .nocode {
  background-color: none;
  color: #000;
}

/* line 5, ../../sass/base/prettify.scss */
pre .str {
  color: #036A07;
}

/* string */
/* line 6, ../../sass/base/prettify.scss */
pre .kwd {
  color: #0000FF;
  font-style: bold;
}

/* keyword */
/* line 7, ../../sass/base/prettify.scss */
pre .com {
  color: #0066FF;
  font-style: italic;
}

/* comment */
/* line 8, ../../sass/base/prettify.scss */
pre .typ {
  color: #000;
  font-style: underline;
}

/* type */
/* line 9, ../../sass/base/prettify.scss */
pre .lit {
  color: #0000CD;
}

/* literal */
/* line 10, ../../sass/base/prettify.scss */
pre .pun {
  color: #000;
}

/* punctuation */
/* line 11, ../../sass/base/prettify.scss */
pre .pln {
  color: #000;
}

/* plaintext */
/* line 12, ../../sass/base/prettify.scss */
pre .tag {
  color: #68685B;
}

/* html/xml tag */
/* line 13, ../../sass/base/prettify.scss */
pre .atn {
  color: #C5680C;
}

/* attribute name */
/* line 14, ../../sass/base/prettify.scss */
pre .atv {
  color: #221AA6;
}

/* attribute value */
/* line 15, ../../sass/base/prettify.scss */
pre .dec {
  color: #0000CD;
}

/* decimal */
/* Specify class=linenums on a pre to get line numbering */
/* line 18, ../../sass/base/prettify.scss */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #333;
}

/* IE indents via margin-left */
/* line 20, ../../sass/base/prettify.scss */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none;
}

/* Alternate shading for lines */
/* line 22, ../../sass/base/prettify.scss */
li.L1, li.L3, li.L5, li.L7, li.L9 {
  background: #eee;
}
