
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "compass/utilities/general/clearfix";
@import "../variables/color";

.case-party {
  section.closed {
    h4,
    .images img {
      cursor: pointer;
    }
    h4 ~ *:not(.toggler) {
      display: none;
    }
    &.open {
      h4 ~ *:not(.toggler) {
        display: block;
      }
    }
  }
}
.case-visualization {
  margin-bottom: 1em;
  .axis {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  .canvas img {
    width: (100 / 7) * 1%;
  }
}