/* line 10, ../../sass/unique/case.scss */
.case-party.closed section h4 {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 1px 1px 1px #016d6f;
  background-color: #019ea2;
  color: white;
  margin: 0;
  padding: 0.5em;
}
/* line 18, ../../sass/unique/case.scss */
.case-party.closed section > h4 ~ * {
  display: none;
}
/* line 22, ../../sass/unique/case.scss */
.case-party.closed section.open > h4 ~ *:not(div) {
  display: block;
}
/* line 27, ../../sass/unique/case.scss */
.case-party.closed .basis {
  display: none;
}
/* line 31, ../../sass/unique/case.scss */
.case-party > header + ul {
  display: none;
}

/* line 35, ../../sass/unique/case.scss */
.case-vizualization {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
/* line 39, ../../sass/unique/case.scss */
.case-vizualization .axis {
  overflow: hidden;
  *zoom: 1;
}
/* line 41, ../../sass/unique/case.scss */
.case-vizualization .axis > span {
  float: left;
  width: 33.33%;
}
